ul {list-style: none;}
label {
    display: inline-block;
    width: 120px;
    line-height: 3rem;
}
legend {
    font-weight: bold;
}
input {
    line-height: 18px;
}
#signup input[type=text],
#signup input[type=password],
#signup input[type=tel],
#signup input[type=email] {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
    width: 200px;
}

/* 처음시도할때 안되었었음. 왜냐면 위에 덩어리를 아래 빨간테투리 지정 단락 아래쪽에
적었기 때문. 
나중에 작성한 스타일이 최종아웃풋 되는 경향이 있기때문에 항상 주의 */

#signup input[required] {
    border: 1px solid red;
    border-radius: 3px;
}
#signup input[readonly] {
    border: none;
   
}


button {
    display: block;
    margin: auto;
    border-radius: 20px;
    font-size: 1.1rem;
}