* { padding: 0; margin: 0; box-sizing:border-box}
html, body { height: 100%;}

.wrap {
    height: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
    "box1 box2"
    "box1 box3";
}

@media screen and (max-width:700px) {
    .wrap {
        height: 100%;
        display: grid;
        grid-template-columns: 0px auto;
        grid-template-rows: 40px 1fr;
        grid-template-areas:
        "box1 box2"
        "box1 box3";
    }

  

}
    


div.header {
    background-color: #FF3C4A;
    grid-area:box1;
    color: white;
}


.header .logo {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    transition: 1s;
}
.logo:hover {
    color: rgb(255, 247, 132);
    cursor: default;
    font-size: 2.2rem;
}

.nav__container {
    display: flex;
    flex-direction: column;
   
}
.nav__title {
    padding: 10px 10px;
    margin-top: 10px;
}

.nav__title:hover {
    background-color: #ff5d68;
    cursor: default;
}



.nav__item a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
}

.nav__item a:hover {
    background-color: #ff656f;
    cursor: default;
}

div.top-bar {
    background-color: rgb(255, 255, 255);
    grid-area:box2;
    display: grid;
    grid-template-columns: 1fr 40px;
    /* grid-template-rows: 1000px; */
    position: relative;
}

.search__form {
   height: 100%;
   display: flex;
   align-items: center;
}
.search__label {
    display: none;
}
input#idSearch {
    width: 100%;
    margin: 5px;
    height: 25px;
}
.profile__icon {
    background-color: rgb(139, 96, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-family: 'Shrikhand';
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: all ease 1s;
    box-shadow: 0.5px 1px 1px 1px rgb(170, 170, 170);
}

.profile__icon:hover {
    background-color: #ff5d68;
    transform: rotate(180deg);
    cursor:default;
    box-shadow: -0.5px -1px 1px 1px rgb(170, 170, 170);
}

div.main {
    background-color: rgb(241, 241, 241);
    grid-area:box3;
}
div.main__header {
    width: 100%;
    border: 1px solid red;
   
}
h2.main__title {
    background: url('http://unsplash.it/1200/600?image=495') no-repeat;
    background-size: cover; 
    color: white;
    padding: 100px ;
    text-align: center;
    font-size: 2rem;
  
}

ul.listing-card__list {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    gap: 10px;
    margin: 10px;
    list-style: none;
    

}

li.listing-card__item {
    border: 1px solid rgb(212, 212, 212);
    padding: 10px;
    background-color: white;
}

div.listing-card__image {
    width: 100%;
    height: 0;
    padding-top: calc(750 / 500 * 100%);
    background-size: contain;
    background-repeat: no-repeat;
}

div.listing-card__info {
    margin-top: 10px;
    margin-bottom: 5px;
}

