* { box-sizing: border-box;}
#container {
  width:1000px;
  margin:20px auto;
}
h1 {
  text-align:center;
}
h2 {
  margin: 0;
}
.prod-list {
  list-style:none;
  padding:0;
}
.prod-list li {
  float: left;
  padding: 0;
  margin: 10px;
  overflow: hidden;   /* 범위넘어가는것 히든, 그밖의 스크롤 등 overflow 속성이 있다 */
  position: relative;
  height: 200px;
}
.prod-list img {
  margin:0;
  padding:0;
  /* float:left; */
  display: block;
  z-index:5;
  /* 포토샵의 레이어?!
  숫자가 높으면 위에 있는 레이어
  숫자가 같으면 작성된 순서에따라 (위에적힌게 밑의 레이어인 경향) 
  z-index의 작동원리는 생각보다 복잡함
  참고 https://mytory.net/archives/10997
  */
} 
.prod-list div.caption {
  background-color: rgba(0, 0, 0, 0.473);
  color: #fff;
  /* border: 1px solid red; */
  transition: all ease 1s;
  position: relative;
  height: 100%;
  text-align: center;
  padding-top: 50px;
  opacity: 0;
 

  
  
}

.prod-list img:hover + div {
 /* background-color: brown; */
 transform: translateY(-100%);
 opacity: 1;
 
}